name: CI

on:
    push:
        branches: [main]
    pull_request:

permissions:
    contents: read

jobs:
    go-tests:
        name: Go tests & vet
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version: "1.22"

            - name: Download Go modules
              run: go mod download

            - name: Run Go tests
              run: go test ./...

            - name: Run go vet
              run: go vet ./...

    terraform-checks:
        name: Terraform fmt & validate
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: 1.11.0

            - name: Terraform fmt (recursive)
              run: terraform fmt -check -recursive

            - name: Terraform validate (dev)
              working-directory: infra/envs/dev
              run: |
                  terraform init -backend=false
                  terraform validate

            - name: Terraform validate (prod)
              working-directory: infra/envs/prod
              run: |
                  terraform init -backend=false
                  terraform validate

    docker-api-build:
        name: Build API Docker image
        runs-on: ubuntu-latest
        needs: go-tests

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Build cloudpulse-api image
              run: docker build -t cloudpulse-api:ci -f deployments/docker/Dockerfile.api .
